.body {

    margin: 0px;
    padding: 0px;
    background: url('Assets/study.jpg');
    height: 880px;
}

.header {

    color: aliceblue;
}

.logo {

    display: inline-block;
    position: absolute;
    top: 100px;
    left: 100px;
    display: inline-block;
}

.logo img {

    width: 100px;
}

.home a {
    
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 325px;
    font-size: 20px;
    color: rgb(153, 206, 226);
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
}

.about a {

    display: inline-block;
    position: absolute;
    top: 130px;
    left: 325px;
    font-size: 20px;
    color: rgb(153, 206, 226);
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
}

.java a {

    display: inline-block;
    position: absolute;
    top: 230px;
    left: 325px;
    font-size: 20px;
    color: rgb(153, 206, 226);
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
}

.contact a {

    display: inline-block;
    position: absolute;
    top: 330px;
    left: 325px;
    font-size: 20px;
    color: rgb(153, 206, 226);
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
}

.home a:hover,
.home a.active {

    text-decoration: underline;
    color: rgb(251, 205, 119);
    font-weight: bold;
    font-size: 30px;
}

.about a:hover,
.about a.active {

    text-decoration: underline;
    color: rgb(251, 205, 119);
    font-weight: bold;
    font-size: 30px;
}

.java a:hover,
.java a.active {

    text-decoration: underline;
    color: rgb(251, 205, 119);
    font-weight: bold;
    font-size: 30px;
}

.contact a:hover,
.contact a.active {

    text-decoration: underline;
    color: rgb(251, 205, 119);
    font-weight: bold;
    font-size: 30px;
}

.line1 {

    display: inline-block;
    position: absolute;
    margin-top: 400px;
    margin-left: 20px;
    width: 30%;
    border: solid 1px rgb(153, 206, 226);
}

.line2 {

    display: inline-block;
    position: absolute;
    margin-top: 570px;
    margin-left: 265px;
    width: 30%;
    border: solid 1px rgb(153, 206, 226);
}

.material {

    font-size: 20px;
    position: absolute;
    bottom: 40px;
    left: 80px;
    display: inline-block;
}

.material a {

    color: aliceblue;
    text-decoration: none;
}

.material a:hover {

    color: orange;
}