.body {

    margin: 0px;
    padding: 0px;
    background: url('Assets/image.png');
    height: 1760px;
}

.header {

    color: aliceblue;
}

.logo {

    display: inline-block;
    position: absolute;
    top: 100px;
    left: 100px;
}

.logo img {

    width: 100px;
}

.home a {
    
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 350px;
    color: rgb(153, 206, 226);
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
}

.java a {

    display: inline-block;
    position: absolute;
    top: 120px;
    left: 320px;
    color: rgb(153, 206, 226);
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
}

.dsa a {

    display: inline-block;
    position: absolute;
    top: 180px;
    left: 315px;
    color: rgb(153, 206, 226);
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
}

.theory a {

    display: inline-block;
    position: absolute;
    text-align: center;
    top: 270px;
    left: 330px;
    color: rgb(153, 206, 226);
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
}

.home a:hover,
.home a.active {

    text-decoration: underline;
    color: rgb(251, 205, 119);
    font-weight: bold;
}

.java a:hover,
.java a.active {

    text-decoration: underline;
    color: rgb(251, 205, 119);
    font-weight: bold;
}

.dsa a:hover,
.dsa a.active {

    text-decoration: underline;
    color: rgb(251, 205, 119);
    font-weight: bold;
}

.theory a:hover,
.theory a.active {

    text-decoration: underline;
    color: rgb(251, 205, 119);
    font-weight: bold;
}

.line1 {

    display: inline-block;
    position: absolute;
    margin-top: 400px;
    margin-left: 20px;
    width: 30%;
    border: solid 1px rgb(153, 206, 226);
}

.line2 {

    display: inline-block;
    position: absolute;
    margin-top: 570px;
    margin-left: 265px;
    width: 30%;
    border: solid 1px rgb(153, 206, 226);
}

.material {

    font-size: 20px;
    position: absolute;
    bottom: 40px;
    left: 80px;
    display: inline-block;
}

.material a {

    color: rgb(153, 206, 226);
    text-decoration: none;
}

.material a:hover {

    color: rgb(251, 205, 119);
}

.java_learn {

    display: inline-block;
    position: absolute;
    top: 1010px;
    left: 15px;
    color: rgb(251, 190, 79);
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 3px 3px black;
}

.learn_logo {

    display: inline-block;
    position: absolute;
    top: 1220px;
    left: 55px;
}

.learn_logo img {

    width: 120px;
}

.brief {

    display: inline-block;
    position: absolute;
    top: 1025px;
    right: 15px;
}

.tags li {

    color: black;
    font-size: 35px;
    line-height: 1.75em;
    font-weight: bold;
}

.tags li a {

    list-style-type: square black;
    text-decoration: none;
    color: black;
}

.tags li a:hover {

    text-shadow: 1px 1px black;
    text-decoration: underline;
    color: rgb(51, 155, 193);
}

.sub li {

    font-size: 30px;
}

.dsa_learn {

    display: inline-block;
    position: absolute;
    top: 1840px;
    right: 75px;
    color: rgb(251, 190, 79);
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 3px 3px whitesmoke;
}

.theory_learn {

    display: inline-block;
    position: absolute;
    top: 2700px;
    right: 300px;
    color: rgb(251, 190, 79);
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 3px 3px black;
}

.tp {

    display: inline-block;
    position: absolute;
    top: 3680px;
    left: 100px;
}