.body {

    margin: 0px;
    padding: 0px;
    background: url('Assets/image.png');
    height: 1760px;
}

.header {

    color: aliceblue;
}

.logo {

    display: inline-block;
    position: absolute;
    top: 100px;
    left: 100px;
}

.logo img {

    width: 100px;
}

.home a {
    
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 325px;
    color: rgb(153, 206, 226);
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
}

.java a {

    display: inline-block;
    position: absolute;
    top: 130px;
    left: 325px;
    color: rgb(153, 206, 226);
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
}

.about a {

    display: inline-block;
    position: absolute;
    top: 230px;
    left: 325px;
    color: rgb(153, 206, 226);
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
}

.contact a {

    display: inline-block;
    position: absolute;
    top: 330px;
    left: 325px;
    color: rgb(153, 206, 226);
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
}

.home a:hover,
.home a.active {

    text-decoration: underline;
    color: rgb(251, 205, 119);
    font-weight: bold;
    font-size: 30px;
}

.java a:hover,
.java a.active {

    text-decoration: underline;
    color: rgb(251, 205, 119);
    font-weight: bold;
    font-size: 30px;
}

.about a:hover,
.about a.active {

    text-decoration: underline;
    color: rgb(251, 205, 119);
    font-weight: bold;
    font-size: 30px;
}

.contact a:hover,
.contact a.active {

    text-decoration: underline;
    color: rgb(251, 205, 119);
    font-weight: bold;
    font-size: 30px;
}

.line1 {

    display: inline-block;
    position: absolute;
    margin-top: 400px;
    margin-left: 20px;
    width: 30%;
    border: solid 1px rgb(153, 206, 226);
}

.line2 {

    display: inline-block;
    position: absolute;
    margin-top: 570px;
    margin-left: 265px;
    width: 30%;
    border: solid 1px rgb(153, 206, 226);
}

.material {

    font-size: 20px;
    position: absolute;
    bottom: 40px;
    left: 80px;
    display: inline-block;
}

.material a {

    color: aliceblue;
    text-decoration: none;
}

.material a:hover {

    color: orange;
}

.java_learn {

    display: inline-block;
    position: absolute;
    top: 1050px;
    left: 15px;
    color: rgb(251, 190, 79);
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 3px 3px black;
}

.learn_logo {

    display: inline-block;
    position: absolute;
    top: 1235px;
    left: 60px;
}

.learn_logo img {

    width: 100px;
}

.architecture a {

    display: inline-block;
    position: absolute;
    top: 1075px;
    right: 150px;
    color: rgb(28, 127, 162);
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
}

.architecture a:hover {

    text-decoration: underline;
    color: rgb(9, 79, 105);
    font-weight: bold;
    font-size: 35px;
}

.arc {

    display: inline-block;
    position: absolute;
    top: 1110px;
    right: 50px;
}

.jdk li {

    color: black;
    font-size: 25px;
    font-weight: bold;
}

.jdk li a {

    list-style-type: square black;
    color: rgb(28, 127, 162);
    text-decoration: none;
    padding: 2px;
}

.jdk li a:hover {

    text-decoration: underline;
    color: rgb(9, 79, 105);
    font-weight: bold;
    font-size: 25px;
}